<% groups.each do |group| %>
  <table>
    <tr>
      <td>
        <!--管理者ログイン時-->
        <% if admin_signed_in? %>
          <%= link_to group.name, admin_group_path(group), class: "text-dark" %>
        <!--ユーザーログイン時  -->
        <% elsif user_signed_in? %>
          <%= group.name %>
        <% end %>
      </td>
      <td>
        <% if admin_signed_in?%>
        <!--管理者ログイン時は表示なし-->
        <% elsif user_signed_in? %>
          <!--ユーザーログイン時  -->
          <% if group.includesUser?(current_user) %>
            ：参加済
          <% else %>
            <div class="normal-button">
              <%= link_to "参加する", public_group_group_users_path(group), method: :post, class: "text-dark" %>
            </div>
          <% end %>
        <% end %>
      </td>
    </tr>
  </table>
<% end %>
