<% groups.each do |group| %>
  <table>
    <tr>
      <td><%= group.name %></td>
      <td>
        <% if group.includesUser?(current_user) %>
          ：参加済
        <% else %>
          <%= link_to "参加する", public_group_group_users_path(group), method: :post %>
        <% end %>
      </td>
    </tr>
  </table>
<% end %>
