  <% if @model == 'user' %>
    <h3 class= "center" >"<%= @content %>"検索結果</h3><br>
    <div class= "center">
      <div><%= render 'public/users/index', users: @records %></div>
    </div>
  <% elsif @model == 'group' %>
    <h3 class= "center">"<%= @content %>"検索結果</h3><br>
    <div class= "center">
      <div><%= render 'public/groups/index', groups: @records %></div>
    </div>
  <% end %>
