<h3 class="app-title">管理者メニュー</h3>

<div class="long_button_box" >
  <div class="long_button" ><%= link_to "グループ・タスク管理",  admin_groups_path %></div>
</div>
<div class="long_button_box" >
  <div class="long_button" ><%= link_to "一般アカウント管理", admin_users_path %></div>
</div>