<h3>管理者メニュー</h3>

<div class="center_button" >
  <div class="long_button" ><%= link_to "グループ・タスク管理",  admin_groups_path %></div>
  <div class="long_button" ><%= link_to "一般アカウント管理", admin_users_path %></div>
</div>