@use '~bootstrap/scss/bootstrap';
@import "./simple_calendar.scss";

＊{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

// 全ページ共通
.center{
    display: flex;
    justify-content: center;
}

.content-bg{
    background-color: #FAFFFF
}

.normal-button{
    border: 1px solid #ccc;
    background: #f1e767;
    background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
    background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
    background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
    -webkit-box-shadow: inset 1px 1px 1px #fff;
    box-shadow: inset 1px 1px 1px #fff;
}

.normal-button{
    background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
    background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
    background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}

.page-title{
    position: relative;
    display: inline-block;
    padding: 0 65px;
    text-align: center;
}

.page-title:before,
.page-title:after {
    position: absolute;
    top: calc(50% - 3px);
    width: 50px;
    height: 6px;
    content: '';
    border-top: solid 2px #000;
    border-bottom: solid 2px #000;
}

.page-title:before {
    left: 0;
}

.page-title:after {
    right: 0;
}

main{
    width: auto;
    height: 900px;
    background: linear-gradient( to bottom, white, #40A6EF);
}

// TOPページ(admin, public)
.app-title{
    display: flex;
    justify-content: center;
    margin-top: 250px;
    margin-bottom: 20px;
}
.long_button_box:first-child{
    margin-top: 250px;
}

.long_button_box{
    display: flex;
    justify-content: center;
    background-color: #D4D4D4;
    margin: 10px auto;
    line-height: 30px;
    width: 30%;
}

.long_button a{
    color: black;
}

// ログイン画面
.field:first-child{
    margin-top: 250px;
}

.field{
    display: flex;
    justify-content: center;
    margin: 15px;
}

.actions{
    display: flex;
    justify-content: center;
}

// グループタスク一覧
.button-box{
    display: flex;
    justify-content: center;
    background-color: #D4D4D4;
    width: 160px
}

.button a{
    color: black;
}

// タスク詳細
.task-box{
    display: flex;
    justify-content: center;
}

.comment-message{
    border: 0.5px solid black;
    margin-bottom: 5px;
    padding: 3px;
}

// グループ一覧
.group-form{
    wigth: 100px;
    display: flex;
}