<div class="center">
  <h3 class="page-title m-4">グループ一覧</h3>
</div>
<div>
  <div class="content-bg">
    <div class="center">
      <div>
         <%= render 'public/groups/index', groups: @groups %>
       </div>
     </div>
  </div>
</div>
