<div class="container">
    <h3 class="center"><%= @group.name %>のタスク一覧</h3>
    <div class="row m-1">
        <div class="button-box m-1">
            <div class="button"><%= link_to "グループを削除する",admin_group_path(@group), method: :delete %></div>
        </div>
    </div>
    <div class="row m-1">
         <div class="content-bg">
            <%= render 'public/groups/group_tasks_index', tasks: @tasks, group: @group %>
        </div>
    </div>
</div>