<h3 class="center">マイタスク</h3>
<div class="center">
    <h5>表示切り替え</h5>
</div>
<div class="center">
    <%= link_to "一覧",public_my_tasks_path(current_user) %>|
    <%= link_to "ウィークリー", public_my_weekly_tasks_path(current_user) %>
</div>
<div class="content-bg mt-5 p-1">
  <%= render 'public/groups/weekly_tasks', tasks: @tasks %>
</div>